<!-- spotify_app/templates/spotify_app/index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpotReveal</title>

    <!-- Load static tag -->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <div class="center">
        <h1>SpotReveal</h1>
        <p>Check out what your favorite tracks are and who is your favorite artist! Also take a look at songs we think you would like based on your favorite tracks</p>
        <ul>
            <li>
                <a href="{% url 'login' %}" class="button-link">
                    <button type="button">Login with Spotify</button>
                </a>
            </li>
        </ul>
    </div>
</body>
</html>
