<!-- spotify_app/templates/spotify_app/top_combined.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Tracks and Artists</title>

    <!-- Load static tag -->
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
</head>
<body>
    <div class="center">
        <h1>Your Top Tracks and Artists</h1>

        <div class="two-columns">
            <div class="column">
                <h2>Top Tracks</h2>
                <ol>
                    {% for track in tracks %}
                        <li>{{ track.name }} by {{ track.artists.0.name }}</li>
                    {% endfor %}
                </ol>
            </div>

            <div class="column">
                <h2>Top Artists</h2>
                <ol>
                    {% for artist in artists %}
                        <li>{{ artist.name }}</li>
                    {% endfor %}
                </ol>
            </div>
        </div>

        {% if playlist_url %}
            <h2>Recommended Playlist</h2>
            <a href="{{ playlist_url }}" class="playlist_button" target="_blank">
                <button type="button">Listen to Playlist</button>
            </a>
        {% endif %}
        
        <!-- Logout Button -->
        <ul>
            <li><a href="{% url 'logout' %}" class="logout_button">Logout</a></li>
        </ul>
    </div>
</body>
</html>
